@model MVC_EF.Models.Contact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Model.BirthDate.ToString("dd/MM/yyyy")
        </dd>

        <dt>
            Age
        </dt>

        <dd id="contactAge">
            @Model.BirthDate.ToString("yyyy/MM/dd")
        </dd>

    </dl>
    <hr />
    <h4>Addresses</h4>
    <ul>
        @foreach (var d in Model.Addresses)
        {
            <li class="list-group-item">

                <div class="row">
                    <div class="col-xs-5">
                        @d.Description
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContactID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    <script src="@Url.Content("~/Scripts/Views/Contact/Details.js")"></script>
}